In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

In [2]:
YEAR = 2021
df = pd.read_csv(f"preprocessed/{YEAR}.csv")
df.head(3)

,Country,Happiness Score,Economy,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,Dystopia Residual
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,3.253
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179,2.868
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292,2.839

문자를 포함한 항목(국가명)은 계산이 되지 않기 때문에 임시로 변수에 저장해둔다.  
0으로 표기된 값은 결측치로 판단하고 kNN을 활용해 결측치를 예측해 채운다.

In [3]:
COLUMNS = df.columns
COUNTRY = df["Country"].values.reshape(-1, 1)

df.drop(labels="Country", axis=1, inplace=True)

imputer = KNNImputer(missing_values=0, n_neighbors=2, weights="distance")
filled = imputer.fit_transform(df)
filled

array([[ 7.842, 10.775,  0.954, ..., -0.098,  0.186,  3.253],
       [ 7.62 , 10.933,  0.954, ...,  0.03 ,  0.179,  2.868],
       [ 7.571, 11.117,  0.942, ...,  0.025,  0.292,  2.839],
       ...,
       [ 3.415,  7.676,  0.552, ...,  0.061,  0.167,  1.095],
       [ 3.145,  7.943,  0.75 , ..., -0.047,  0.821,  1.205],
       [ 2.523,  7.695,  0.463, ..., -0.102,  0.924,  1.895]])

In [4]:
new_df = np.concatenate((COUNTRY, filled), axis=1)
new_df = pd.DataFrame(new_df, columns=COLUMNS)

new_df.to_csv(f"preprocessed/{YEAR}.csv", index=False)

In [5]:
saved_df = pd.read_csv(f"preprocessed/{YEAR}.csv")
saved_df.head()

,Country,Happiness Score,Economy,Social support,Healthy life expectancy,Freedom,Generosity,Perceptions of corruption,Dystopia Residual
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,3.253
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179,2.868
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292,2.839
3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673,2.967
4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338,2.798

---

In [6]:
df = pd.read_csv("healthy_lifestyle_city_2021.csv")
df.head(3)

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Amsterdam,1,1858,£1.92,20.40%,81.2,30.93,1434,7.44,422,1048,£34.90
1,Sydney,2,2636,£1.48,29.00%,82.1,26.86,1712,7.22,406,1103,£41.66
2,Vienna,3,1884,£1.94,20.10%,81.0,17.33,1501,7.29,132,1008,£25.74

In [7]:
import re

columns = [
    "Cost of a bottle of water(City)",
    "Cost of a monthly gym membership(City)",
    "Obesity levels(Country)",
]

for col in columns:
    df[col] = df[col].map(lambda x: re.sub(r"[^0-9.-]", "", str(x)))
    df[col] = df[col].astype(np.float_)

In [8]:
COLUMNS = df.columns
CITY = df["City"].values.reshape(-1, 1)

df.drop(labels="City", axis=1, inplace=True)

MISSING = "-"
df.replace(MISSING, np.nan, inplace=True)

imputer = KNNImputer(n_neighbors=2, weights="distance")
filled = imputer.fit_transform(df)
filled

array([[1.00000000e+00, 1.85800000e+03, 1.92000000e+00, 2.04000000e+01,
        8.12000000e+01, 3.09300000e+01, 1.43400000e+03, 7.44000000e+00,
        4.22000000e+02, 1.04800000e+03, 3.49000000e+01],
       [2.00000000e+00, 2.63600000e+03, 1.48000000e+00, 2.90000000e+01,
        8.21000000e+01, 2.68600000e+01, 1.71200000e+03, 7.22000000e+00,
        4.06000000e+02, 1.10300000e+03, 4.16600000e+01],
       [3.00000000e+00, 1.88400000e+03, 1.94000000e+00, 2.01000000e+01,
        8.10000000e+01, 1.73300000e+01, 1.50100000e+03, 7.29000000e+00,
        1.32000000e+02, 1.00800000e+03, 2.57400000e+01],
       [4.00000000e+00, 1.82100000e+03, 1.72000000e+00, 2.06000000e+01,
        8.18000000e+01, 1.96300000e+01, 1.45200000e+03, 7.35000000e+00,
        1.29000000e+02, 5.98000000e+02, 3.73100000e+01],
       [5.00000000e+00, 1.63000000e+03, 2.19000000e+00, 1.97000000e+01,
        7.98000000e+01, 2.12400000e+01, 1.38000000e+03, 7.64000000e+00,
        1.54000000e+02, 5.23000000e+02, 3.25300000e+01],
       [6.00000000e+00, 1.66200000e+03, 1.60000000e+00, 2.22000000e+01,
        8.04000000e+01, 1.30800000e+01, 1.54000000e+03, 7.80000000e+00,
        1.13000000e+02, 3.09000000e+02, 3.52300000e+01],
       [7.00000000e+00, 2.76900000e+03, 7.80000000e-01, 4.30000000e+00,
        8.32000000e+01, 2.71619923e+01, 1.64400000e+03, 5.87000000e+00,
        3.50000000e+01, 5.39000000e+02, 5.58700000e+01],
       [8.00000000e+00, 1.62600000e+03, 1.55000000e+00, 2.23000000e+01,
        8.06000000e+01, 3.94100000e+01, 1.38600000e+03, 7.07000000e+00,
        2.54000000e+02, 1.72900000e+03, 2.61100000e+01],
       [9.00000000e+00, 2.59100000e+03, 1.19000000e+00, 2.38000000e+01,
        8.22000000e+01, 6.51900000e+01, 1.68600000e+03, 6.40000000e+00,
        5.85000000e+02, 2.34400000e+03, 3.78000000e+01],
       [1.00000000e+01, 1.93800000e+03, 1.08000000e+00, 2.94000000e+01,
        8.17000000e+01, 2.42600000e+01, 1.67000000e+03, 7.23000000e+00,
        2.18000000e+02, 7.88000000e+02, 3.10400000e+01],
       [1.10000000e+01, 2.36300000e+03, 1.57000000e+00, 2.90000000e+01,
        8.21000000e+01, 2.59000000e+01, 1.71200000e+03, 7.22000000e+00,
        2.43000000e+02, 8.13000000e+02, 3.68900000e+01],
       [1.20000000e+01, 2.67100000e+03, 2.60000000e-01, 6.20000000e+00,
        7.54000000e+01, 8.54300000e+01, 1.65366575e+03, 5.12000000e+00,
        2.23000000e+02, 2.61000000e+02, 3.86200000e+01],
       [1.30000000e+01, 2.62400000e+03, 2.20000000e-01, 1.00000000e+01,
        7.41000000e+01, 7.66400000e+01, 1.95975614e+03, 5.99000000e+00,
        3.77000000e+02, 1.79600000e+03, 5.00300000e+01],
       [1.40000000e+01, 2.52500000e+03, 5.70000000e-01, 2.83000000e+01,
        7.59000000e+01, 5.26400000e+01, 1.95583219e+03, 5.97000000e+00,
        2.46000000e+02, 1.43500000e+03, 2.24500000e+01],
       [1.50000000e+01, 2.06600000e+03, 1.09000000e+00, 2.94000000e+01,
        8.17000000e+01, 3.78300000e+01, 1.67000000e+03, 7.23000000e+00,
        1.74000000e+02, 1.65600000e+03, 3.26400000e+01],
       [1.60000000e+01, 2.76900000e+03, 1.30000000e+00, 2.38000000e+01,
        8.22000000e+01, 5.26800000e+01, 1.68600000e+03, 6.40000000e+00,
        2.16000000e+02, 2.49100000e+03, 3.45400000e+01],
       [1.70000000e+01, 2.98300000e+03, 2.10000000e-01, 6.90000000e+00,
        6.85000000e+01, 8.43900000e+01, 1.72576315e+03, 5.28000000e+00,
        1.14000000e+02, 8.33000000e+02, 2.99400000e+01],
       [1.80000000e+01, 2.06600000e+03, 5.90000000e-01, 4.70000000e+00,
        8.13000000e+01, 5.78200000e+01, 1.96700000e+03, 5.87000000e+00,
        1.44000000e+02, 3.89000000e+02, 4.30300000e+01],
       [1.90000000e+01, 1.66200000e+03, 1.95000000e+00, 2.23000000e+01,
        8.06000000e+01, 3.77800000e+01, 1.38600000e+03, 7.07000000e+00,
        2.30000000e+01, 5.51000000e+02, 3.90100000e+01],
       [2.00000000e+01, 1.65372220e+03, 2.62000000e+00, 1.95000000e+01,
        8.26000000e+01, 2.72500000e+01, 1.55700000e+03, 7.56000000e+00,
        4.40000000e+01, 4.44000000e+02, 7.00000000e+01],
       [2.10000000e+01, 3.31100000e+03, 1.63000000e+00, 2.61000000e+01,
        8.19000000e+01, 4.72800000e+01, 1.89800000e+03, 7.12000000e+00,
        1.39000000e+02, 4.20000000e+02, 5.83100000e+01],
       [2.20000000e+01, 2.21800000e+03, 1.50000000e-01, 3.21000000e+01,
        7.47000000e+01, 6.94900000e+01, 1.83200000e+03, 5.13000000e+00,
        4.19000000e+02, 9.34000000e+02, 1.69700000e+01],
       [2.30000000e+01, 3.54200000e+03, 1.60000000e-01, 3.20000000e+01,
        7.07000000e+01, 9.17400000e+01, 1.73292337e+03, 4.15000000e+00,
        3.23000000e+02, 2.50000000e+02, 2.32500000e+01],
       [2.40000000e+01, 1.40500000e+03, 5.70000000e-01, 6.20000000e+00,
        7.54000000e+01, 4.93200000e+01, 1.71949316e+03, 5.12000000e+00,
        1.34000000e+02, 7.17000000e+02, 3.47600000e+01],
       [2.50000000e+01, 3.25400000e+03, 1.52000000e+00, 3.62000000e+01,
        7.88000000e+01, 6.60700000e+01, 1.77900000e+03, 6.94000000e+00,
        2.23000000e+02, 1.43900000e+03, 3.20000000e+01],
       [2.60000000e+01, 2.58400000e+03, 1.50000000e-01, 3.90000000e+00,
        6.73000000e+01, 8.28400000e+01, 1.97463163e+03, 3.57000000e+00,
        1.87000000e+02, 1.18300000e+03, 1.95400000e+01],
       [2.70000000e+01, 2.63400000e+03, 1.39000000e+00, 3.62000000e+01,
        7.88000000e+01, 2.70300000e+01, 1.77900000e+03, 6.94000000e+00,
        8.80000000e+01, 5.88000000e+02, 4.62700000e+01],
       [2.80000000e+01, 1.45300000e+03, 1.40000000e+00, 2.53000000e+01,
        8.05000000e+01, 4.00700000e+01, 1.77200000e+03, 7.09000000e+00,
        1.59000000e+02, 6.59000000e+02, 3.73500000e+01],
       [2.90000000e+01, 1.87700000e+03, 7.60000000e-01, 4.30000000e+00,
        8.32000000e+01, 4.28400000e+01, 1.64400000e+03, 5.87000000e+00,
        3.87000000e+02, 5.80200000e+03, 7.08200000e+01],
       [3.00000000e+01, 2.50800000e+03, 1.20000000e+00, 3.62000000e+01,
        7.88000000e+01, 4.33300000e+01, 1.77900000e+03, 6.94000000e+00,
        1.71000000e+02, 1.32000000e+03, 4.11400000e+01],
       [3.10000000e+01, 1.83600000e+03, 7.50000000e-01, 6.20000000e+00,
        7.54000000e+01, 6.74600000e+01, 1.46519016e+03, 5.51000000e+00,
        2.77000000e+02, 1.25700000e+03, 5.79500000e+01],
       [3.20000000e+01, 1.77600000e+03, 2.90000000e-01, 6.20000000e+00,
        7.54000000e+01, 7.74000000e+01, 1.54854679e+03, 5.12000000e+00,
        1.08000000e+02, 3.46000000e+02, 4.46800000e+01],
       [3.30000000e+01, 1.54600000e+03, 2.11000000e+00, 2.21000000e+01,
        8.04000000e+01, 6.26700000e+01, 1.58300000e+03, 6.86000000e+00,
        5.50000000e+01, 9.88000000e+02, 2.53400000e+01],
       [3.40000000e+01, 3.06200000e+03, 1.60000000e+00, 3.62000000e+01,
        7.88000000e+01, 4.73600000e+01, 1.77900000e+03, 6.94000000e+00,
        2.42000000e+02, 1.03100000e+03, 6.51300000e+01],
       [3.50000000e+01, 1.66200000e+03, 1.95000000e+00, 2.16000000e+01,
        8.18000000e+01, 6.51000000e+01, 1.50500000e+03, 6.66000000e+00,
        3.31000000e+02, 4.36300000e+03, 3.59300000e+01],
       [3.60000000e+01, 2.00300000e+03, 4.40000000e-01, 2.21000000e+01,
        7.39000000e+01, 7.97800000e+01, 1.91305708e+03, 6.37000000e+00,
        1.58000000e+02, 3.35500000e+03, 1.60700000e+01],
       [3.70000000e+01, 1.56600000e+03, 3.20000000e+00, 1.95000000e+01,
        8.26000000e+01, 1.73100000e+01, 1.55700000e+03, 7.56000000e+00,
        6.90000000e+01, 5.38000000e+02, 7.31100000e+01],
       [3.80000000e+01, 1.63300000e+03, 1.16000000e+00, 2.78000000e+01,
        8.04000000e+01, 5.89100000e+01, 1.53800000e+03, 7.16000000e+00,
        4.33000000e+02, 6.41700000e+03, 4.27100000e+01],
       [3.90000000e+01, 3.12400000e+03, 5.90000000e-01, 2.83000000e+01,
        5.63000000e+01, 6.18300000e+01, 1.71312975e+03, 4.81000000e+00,
        1.94000000e+02, 4.92000000e+02, 2.42800000e+01],
       [4.00000000e+01, 1.91500000e+03, 1.15000000e+00, 1.99000000e+01,
        8.27000000e+01, 6.71900000e+01, 1.71800000e+03, 6.38000000e+00,
        1.10000000e+02, 2.39600000e+03, 5.34900000e+01],
       [4.10000000e+01, 2.52800000e+03, 1.45000000e+00, 3.62000000e+01,
        7.88000000e+01, 3.91800000e+01, 1.77900000e+03, 6.94000000e+00,
        8.30000000e+01, 7.44000000e+02, 6.59900000e+01],
       [4.20000000e+01, 2.53500000e+03, 1.32000000e+00, 3.62000000e+01,
        7.88000000e+01, 5.73600000e+01, 1.77900000e+03, 6.94000000e+00,
        3.59000000e+02, 3.08100000e+03, 6.46600000e+01],
       [4.30000000e+01, 1.90100000e+03, 4.10000000e-01, 2.31000000e+01,
        6.95000000e+01, 5.76300000e+01, 1.96500000e+03, 5.54000000e+00,
        3.22000000e+02, 3.20600000e+03, 3.14000000e+01],
       [4.40000000e+01, 2.55500000e+03, 4.50000000e-01, 2.89000000e+01,
        7.64000000e+01, 8.27800000e+01, 2.13700000e+03, 6.46000000e+00,
        1.92000000e+02, 1.31300000e+03, 4.19900000e+01]])

In [9]:
new_df = np.concatenate((CITY, filled), axis=1)
new_df = pd.DataFrame(new_df, columns=COLUMNS)

new_df.to_csv(f"preprocessed/healthy_lifestyle_city_2021.csv", index=False)

In [10]:
saved_df = pd.read_csv(f"preprocessed/healthy_lifestyle_city_2021.csv")
saved_df.head()

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Amsterdam,1.0,1858.0,1.92,20.4,81.2,30.93,1434.0,7.44,422.0,1048.0,34.90
1,Sydney,2.0,2636.0,1.48,29.0,82.1,26.86,1712.0,7.22,406.0,1103.0,41.66
2,Vienna,3.0,1884.0,1.94,20.1,81.0,17.33,1501.0,7.29,132.0,1008.0,25.74
3,Stockholm,4.0,1821.0,1.72,20.6,81.8,19.63,1452.0,7.35,129.0,598.0,37.31
4,Copenhagen,5.0,1630.0,2.19,19.7,79.8,21.24,1380.0,7.64,154.0,523.0,32.53